* {
    box-sizing: border-box;    
    margin:0px;
    padding:0px;

    font-family: 'EB Garamond', serif; 
    font-size: 10px;
}

body{
    background: linear-gradient(
        rgba(133, 187, 101, 0.50), 
        rgba(133, 187, 101, 0.50)
      ),url("./img/money-map-bg.jpg") ;
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;

    display:flex;
    justify-content:center;
    align-items:center;

    margin:auto;
    min-height:100vh;
    width:auto;
}

#wrapper {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:row wrap;

    margin:auto;
    width:90%;
}

#container { 
    margin: 20px auto;
    width: 55%;
}

#headline {
    color:rgb(245, 245, 245);
    font-size: 3rem;
    text-align: center;
    width:100%;
}

.field, 
#convert-btn {
    background-color:whitesmoke;
    border: none;
    font-size:1.8rem;
    margin: 10px auto;
    padding:3px;
    text-align:center;
    width:100%;
}

#convert-btn {
    background-color: rgb(47, 79, 68, 0.75);
    color:white;
}

#convert-btn:hover {
    background-color: rgb(47, 79, 68);
    font-weight: 600;
}

#results {
    display:flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    width: 90%;
}

#output {
    width:75%;
}

#copyright {
    color:rgb(245, 245, 245);
    font-size: 1.8rem;
    margin: 20px 0;
    width: 100%;
    text-align:center;
}


/* ********** Tablet / Desktop Styles ********** */

@media screen and (min-width: 768px){

    #headline {
        font-size: 4rem;
    }

    #container {
        margin:25px auto;
        width: 25%;
    }

    .field, 
    #convert-btn {
        margin:10px auto;
    }

    #output {
        width:55%;
    }

    #copyright {
        font-size: 20px;
    }
}


/* ********* Tablet Landscape ***********/

@media screen and (min-width: 768px) and (orientation: landscape){

    #headline {
        font-size: 5rem;
    }

    #container {
        width: 22%;
    }

    #output {
        width:40%;
    }

    #copyright {
        font-size: 24px;
    }
}
